@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,900;1,700&family=Barlow:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opção com Inter: Mais moderna e sofisticada que Verdana */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

html {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased; /* Deixa a fonte mais fina e elegante */
  color: #3C4043;
}

.font-artistic {
  font-family: 'Playfair Display', serif;
}
/* Padrão do botão GSI (Continue com Google) */
.btn-gsi-custom {
  /* Fundo Branco, Borda Padrão */
  background-color: #FFFFFF; 
  color: #1F1F1F; /* Texto escuro */
  border: 1px solid #DADCE0; /* Borda sutil e cinza */
  border-radius: 8px; /* Cantos arredondados do GSI */
  padding: 10px 16px; /* Espaçamento interno padrão (alto) */
  font-weight: 500;
  font-size: 16px; /* Tamanho de texto grande/large */
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05); /* Sombra sutil */
  cursor: pointer;
  transition: background-color 0.15s ease, box-shadow 0.15s ease;
}

.btn-gsi-custom:hover {
  background-color: #F8F9FA; /* Fundo levemente acinzentado */
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}