@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplica a fonte Barlow globalmente */
html {
  font-family: 'Barlow', sans-serif;
}